<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Soundache</title>
        <link rel=stylesheet href="static/style.css"/>
    </head>
    <body>
        <div id="column">
            <div id="home" class="lightbg">
                <img src="static/logo.png" width=175/>
            </div>
        </div>
        <ul id="songs">
            {% for song in songs %}
                <li>{{ song[0] }}</li>
            {% endfor %}
        </ul>
    </body>
</html>