{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <script>
        async function login() {
            const form = document.getElementById("user-info-form");
            const user_info = new FormData(form);
            console.log(user_info)
            const res = await fetch('/login', {
                method: 'POST',
                body: user_info
            });
            const res_json = res.json();
            if (res.status == 200) {
                let template=document.getElementById("login-success").content.cloneNode(true);
                document.appendChild(template);
            } else if (res.status == 403) {

            }
        }
    </script>
    <form id="user-info-form" onsubmit="login()">
        <label>Email: <input name="email"/> </label> <br/>
        <label>Password: <input name="password" type="password"/> </label> <br/>
        <input type="submit"/>
    </form>
    <a href="/register">Register instead?</a>
    <template id="login-success">
        <br/>
        You have been logged in.
    </template>
{% endblock %}