body {
    background-image: url("cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.darkbg {
    background-color: rgb(0, 0, 0);
    color:rgb(20, 220, 120);
    border-radius: 20px;
}
#header {
   display: grid;
   grid-template-columns: 10% 80% 10%;  /* <icon> <searchbar> <sign-in/user-stuff> */
   gap: 0px 5px;
   height: 75px;
   width: 100%;
   justify-content:space-around;
}
#home {
    height: 100%;
    float: left;
}
#home img {
    margin: auto;  /* centering the image inside its container */
    width: 100%;
    height: 100%;
}
#searchbar-container {
    overflow: hidden;
    padding: 2% 2% 0% 2%;
}
#searchbar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* transparent bg (using searchbar-container for black bg) */
    color: rgb(20, 220, 120);  /* fix: background-fill being transparent^ somehow causes text to also be so */
    border: none;
    outline: none;  /* removes white outline when typing */
    text-align: justify;
    word-wrap:break-word;
    font-style: italic;
    font-size: 200%;
}
#user {
    float: right;
    height: 100%;
    line-height: 75px;  /* centering text vertically */
    text-align: center;  /* centering text horizontally */
}
#user a {
    color:rgb(20, 220, 120);
}
.input-submitOnEnter {
    display: none;
}
#searchresults {
    position: fixed;  /* make it appear on top of other tags */
    z-index: 2;       /* ^^ */
    left: 10%;
    width: 75%;
    opacity: 0.7;
    text-align: center;
}
#content {
    margin: 50px;
    padding: 2% 2% 2% 2%;
}
