body {
    background-color: rgb(37, 36, 44);
    color: white;
}
.darkbg {
    background-color: black;
    color:crimson;
    border-radius: 20px;
    margin: 10px;
}
#home {
    width:175px;
    float: left;
}
#header * {
    height: 75px;
}
#searchbar {
    width: 700px;
    border: 0;
    text-align: justify;
    float: center;
    word-wrap:break-word;
    font-style: italic;
    font-size:200%;
    padding: 0px 10px;
}
.input-submitOnEnter {
    display: none;
}
#content {
    margin: 50px;
}