body {
    background-image: url("background-image.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.darkbg {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
#header {
   display: grid;
   grid-template-columns: 10% 80% 10%;  /* <icon> <searchbar> <sign-in/user-stuff> */
   gap: 0px 5px;
   height: 75px;
   width: 100%;
   justify-content:space-around;
}
#home {
    height: 100%;
    float: left;
}
#home img {
    margin: auto;  /* centering the image inside its container */
    width: 100%;
    height: 100%;
}
#searchbar-container {
    overflow: hidden;
    padding: 2% 2% 0% 2%;
}
input {
    background-color: black;
    color: rgb(20, 220, 120);
    font-style: italic;
    border: none;
    outline: none;
}
input:not(#searchbar) {
    border-radius:  10px;
    padding: 0.5% 0.5% 0.5% 0.5%;
    font-size: medium;
}
#searchbar {
    width: 100%;
    height: 100%;
    text-align: justify;
    word-wrap:break-word;
    font-size: 200%;
}
#user {
    float: right;
    height: 100%;
    line-height: 75px;  /* centering text vertically */
    text-align: center;  /* centering text horizontally */
}
a {
    color:rgb(220, 190, 20);
    text-decoration: none;
}
.input-submitOnEnter {
    display: none;
}
#searchresults {
    color:rgb(83, 209, 44);
    position: fixed;  /* make it appear on top of other tags */
    z-index: 2;       /* ^^ */
    left: 10%;
    width: 75%;
    opacity: 0.7;
    text-align: center;
}
.hide {
    display: none;
}
#account-options {
    position: fixed;
    padding: 1% 1% 1% 1%;
    left: 90%;
    width: 8%;
    z-index: 2;
    opacity: 0.7;
}
#account-options * {
    margin: 1% 1% 1% 1%;
    font-size: large;
}
.red, .red * {
    color: red;
}
#account-options-btn {
    color: rgb(220, 190, 20);
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}
#content {
    margin: 50px;
    padding: 2% 2% 2% 2%;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}
#song-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.songThumbnailGrid {
    display: grid;
    grid-template-areas:'thumbnail   thumbnail   thumbnail'
                        'thumbnail   thumbnail   thumbnail'
                        'song_title  song_title  song_title'
                        'artist_name artist_name artist_name'
                        'views       likes       dislikes';
    width: 75%;
    margin: 2% 2% 2% 2%;
}
.thumbnail {
    grid-area: thumbnail;
    border-radius: 20px;
    max-width: 300px;
    max-height: 225px;
    margin: auto;
}
.songTitle {
    grid-area: song_title;
    font-size: medium;
}
.artistName {
    grid-area: artist_name;
    font-size: small;
}
.views {
    grid-area: views;
    font-size: small;
}
.likes {
    grid-area: likes;
    font-size: small;
    text-align: right;
}
.dislikes {
    grid-area: dislikes;
    font-size: small;
    text-align: right;
}
#player {
    display: grid;
    width: 90%;
    grid-template-areas:'thumbnail      thumbnail'
                        'title          title'
                        'audio-control  audio-control'
                        'views          views'
                        'like           dislike';
}
#thumbnail {
    grid-area: thumbnail;
    border-radius: 20px;
    max-width: 100%;
    max-height: 75%;
    margin: auto;
}
#title {
    grid-area: title;
    font-size: larger;
}
#audio-control {
    grid-area: audio-control;
}
#views {
    grid-area: views;
    font-size: medium;
}
#like {
    grid-area: like;
    font-size: medium;
}
#dislike {
    grid-area: dislike;
    font-size: medium;
}