<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width">
        <title>{% block title required%}{% endblock %} - Soundache</title>
        <link rel=stylesheet href="static/style.css"/>
        <script>
            const SOUNDACHE_SONGSERVER = 
                window.location.protocol + '//' + window.location.hostname + ':8000';

            async function searchChar(search_query, results_tag) {
                // Emptying searchresults tag each time you type a letter
                const searchresults = document.getElementById(results_tag);
                while (searchresults.firstChild){
                    searchresults.removeChild(searchresults.firstChild);
                }

                if (!search_query) {
                    return;
                }
                const request = await fetch("/search?searchbar=" + search_query.replace(" ", "+"), {
                    "method": "POST"
                });
                const json_ = await request.json();
                if (request.status != 200 || json_.results.length == 0) {
                    const el = document.createElement("li");
                    el.innerText = "Sorry, couldn't find anything";
                    searchresults.appendChild(el);
                    return;
                }
                for (result of json_.results) {
                    const el = document.createElement("li");
                    el.innerText = result;
                    searchresults.appendChild(el);
                }
            }
            
            function toggleHide(elementId) {
                document.getElementById(elementId).classList.toggle('hide');
            }

            function hide(elementId) {
                document.getElementById(elementId).classList.add('hide');
            }

            function show(elementId) {
                document.getElementById(elementId).classList.remove('hide');
            }
        </script>
    </head>
    <body>
        <div id="header">
            <span id="home" class="darkbg">
                <a href="/">
                    <img src="static/logo.png" alt="home-page"/>
                </a>
            </span>
            <span id="searchbar-container" class="darkbg">
                <form method="get" action="/search">
                    <input name="searchbar" enterkeyhint="Search" id="searchbar" placeholder="type to search" 
                           aria-label="searchbar" onkeypress="searchChar(this.value, 'searchresults')"
                           required="required"/>
                    <input type="submit" class="input-submitOnEnter"/>
                </form>
            </span>
            {% if session.get('email') %}
                <button onclick="toggleHide('account-options')" id="account-options-btn" class="darkbg">
                    {{ session['email'] }}
                </button>
            {% else %}
                <span class="darkbg" id="user">
                    <a href="/login">
                        LOGIN
                    </a>
                </span>
            {% endif %}
        </div>
        <br/>
        <ul type="none" id="searchresults" class="darkbg"></ul>
        {% if session.get('email') %}
            <div id="account-options" class="hide darkbg">
                <a href="/likes">My Likes</a> <br/>
                <a href="/upload">Upload Music</a> <br/>
                <a href="/my-channel">My Channel</a> <br/>
                <div id="account-options-dangerous" class="red">
                    <b>Dangerous Zone</b> <br/>
                    &nbsp; <a href="/logout">Logout</a> <br/>
                    &nbsp; <a href="/delete-account">Delete Account</a>
                </div>
            </div>
        {% endif %}
        <div id="content" class="darkbg">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>