<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width">
        <title>{% block title required%}{% endblock %} - Soundache</title>
        <link rel=stylesheet href="static/style.css"/>
        <script>
            async function searchChar() {
                // Emptying searchresults tag each time you type a letter
                const searchresults = document.getElementById("searchresults");
                while (searchresults.firstChild){
                    searchresults.removeChild(searchresults.firstChild);
                }

                const string = document.getElementById("searchbar").value;
                const json_ = await fetch("/search?searchbar=" + string.replace(" ", "+"), {
                    "method": "GET",
                    "headers": {"API": "true"}  // So that backend doesn't return HTML
                }).then((request) => request.json());
                if (json_.results.length == 0) {
                    const el = document.createElement("li");
                    el.innerText = "Sorry, couldn't find anything";
                    searchresults.appendChild(el);
                    return;
                }
                for (result of json_.results) {
                    const el = document.createElement("li");
                    el.innerText = result;
                    searchresults.appendChild(el);
                }
            }
        </script>
    </head>
    <body>
        <div id="header">
            <span id="home" class="darkbg">
                <a href="/">
                    <img src="static/logo.png" alt="home-page"/>
                </a>
            </span>
            <span id="searchbar-container" class="darkbg">
                <form method="get" action="/search">
                    <input name="searchbar" enterkeyhint="Search" id="searchbar" 
                        placeholder="type to search" aria-label="searchbar" onkeypress="searchChar()"
                        required="required"
                    />
                    <input type="submit" class="input-submitOnEnter"/>
                </form>
            </span>
            <span class="darkbg" id="user">
                {% if session.get('email') %}
                    <select href="/login" name= {{ session['email'] }}>
                        <option><a href="logout">Logout</a></option>
                    </select>
                {% else %}
                    <a href="/login">
                        LOGIN
                    </a>
                {% endif %}
            </span>
        </div>
        <br/>
        <ul type="none" id="searchresults" class="darkbg"></ul>
        <div id="content" class="darkbg">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>