{% extends "base.html" %}
{% block title %}Main Page{%endblock%}
{% block content %}
    <div id="song-grid">
    {% for artist, song in songs %}
        <a class="songThumbnailGrid" href="/playback?watch={{song.id}}">
            <img src="{{fmt(song.link)}}/thumbnail" class="thumbnail" alt=""/>
            <span class="songTitle">
                {{ song.name }}
            </span>
            <span class="artistName">
                {{ artist.split('@')[0] }}
            </span>
            <span class="views">
                {{ song.views }} &#x1F441;
            </span>
            <span class="likes">
                {{ song.likes }} &#128151;
            </span>
            <span class="dislikes">
                {{ song.dislikes }} &#128078;
            </span>
        </a>
    {% endfor %}
    </div>
{%endblock%}