{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <h2>Log in</h2>
    <form id="user-info-form">
        <label>Email: <input name="email" autocomplete="email" required/> </label> <br/>
        <label>Password: <input name="password" type="password" autocomplete="current-password" required/> </label> <br/>
        <input type="submit"/>
    </form>
    <a href="/register">Register instead?</a>

    <p id="login-success" class="hide">
        &#x2705 Logged in! Redirecting...
    </p>
    <p id="login-fail" class="hide">
        &#x274C Login failed. Either the user does not exist or the password is incorrect.
    </p>

    <script>
        const form = document.getElementById("user-info-form");
        const err_log = document.getElementById("error-log");
        async function login(event) {
            event.preventDefault();
            const user_info = new FormData(form);
            const res = await fetch('/login', {
                method: 'POST',
                body: user_info
            });
            if (res.status == 200) 
                var to_show = 'login-success', to_hide = 'login-fail', redirect = true;
            else if (res.status == 403)
                var to_show = 'login-fail', to_hide = 'login-success', redirect = false;
            else
                return;
            show(to_show);
            hide(to_hide);
            if (redirect)
                setTimeout(()=>{window.location.replace("/")}, 500);
        }
        form.addEventListener('submit', login);
    </script>
{% endblock %}