{% extends "base.html" %}
{% block title %}Play{% endblock %}
{% block content %}
    {% if error %}
        No such song exists!
    {% else %}
        <div id="player">
            <img src="{{song[1].link}}/thumbnail" class="thumbnail" alt=""/>
            <span id="title">{{song[1].name}}</span>
            <span id="artistName">{{song[0].split('@')[0]}}</span>
            {% if song[1].derivativeOf %}
            <span id="derivative-of">
                Original at <a href="{{song[1].derivativeOf}}">{{song[1].derivativeOf}}</a>
            </span>
            {% endif %}
            <span id="views">{{song[1].views}} views</span>
            {% if session.get('email') %}
                <button id="like"    onclick="like()"   >{{song[1].likes}}    &#128151;</button>
                <button id="dislike" onclick="dislike()">{{song[1].dislikes}} &#128078;</button>
                <script>
                    const like_btn = document.getElementById('like');
                    const dislike_btn = document.getElementById('dislike');
                    const action_link = "/playback?watch={{song[1].artistId}}.{{song[1].id}}&action=";
                    
                    function like() {
                        fetch(action_link + 'like').then(updateLikeCounts);
                        like_btn.setAttribute('disabled', true);
                        dislike_btn.removeAttribute('disabled');
                    }

                    function dislike() {
                        fetch(action_link + 'dislike').then(updateLikeCounts);
                        dislike_btn.setAttribute('disabled', true);
                        like_btn.removeAttribute('disabled');
                    }

                    async function updateLikeCounts(response) {
                        if (response.status == 200) {
                            let json = await response.json();
                            like_btn.innerText    =    `${json.likes} \u{1f497}`;
                            dislike_btn.innerText = `${json.dislikes} \u{1f44e}`;
                        }
                    }
                </script>
            {% else %}
                <span id="like"   >{{song[1].likes}}    &#128151;</span>
                <span id="dislike">{{song[1].dislikes}} &#128078;</span>
            {% endif %}
            <audio controls autoplay id="audio-control">
                <source src="{{song[1].link}}/music">
            </audio>
        </div>
    {% endif %}
{% endblock %} 
