{% extends "base.html" %}
{% block title %}Play{% endblock %}
{% block content %}
    {% if error %}
        No such song exists!
    {% else %}
        <div id="player">
            <img src="{{fmt(song[1].link)}}/thumbnail" class="thumbnail" alt=""/>
            <span id="title">{{song[1].name}}</span>
            <span id="artistName">{{song[0].split('@')[0]}}</span>
            <span id="derivative-of">
                Original at <a href="{{song[1].derivativeOf}}">{{song[1].derivativeOf}}</a>
            </span>
            <span id="views">{{song[1].views}} views</span>
            {% if session.get('email') %}
                <button id="like"    onclick="like()"   >{{song[1].likes}}    &#128151;</button>
                <button id="dislike" onclick="dislike()">{{song[1].dislikes}} &#128078;</button>
                <script>
                    const like_btn = document.getElementById('like');
                    const dislike_btn = document.getElementById('dislike');
                    const action_link = "/playback?watch={{song[1].artistId}}.{{song[1].id}}&action=";
                    
                    function like() {
                        fetch(action_link + 'like');
                        like_btn.setAttribute('disabled', true);
                    }

                    function dislike() {
                        fetch(action_link + 'dislike');
                        dislike_btn.setAttribute('disabled', true);
                    }
                </script>
            {% else %}
                <span id="like"   >{{song[1].likes}}    &#128151;</span>
                <span id="dislike">{{song[1].dislikes}} &#128078;</span>
            {% endif %}
            <audio controls id="audio-control">
                <source src="{{fmt(song[1].link)}}/music" type="audio/mpeg">
            </audio>
        </div>
    {% endif %}
{% endblock %} 
