{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <h2>Sign up!</h2>
    <form id="user-info-form">
        <label>Email: <input name="email" autocomplete="email" required/> </label> <br/>
        <label>Password: <input name="password" type="password" autocomplete="new-password" required/> </label> <br/>
        <label>Confirm Password: <input id="confirm-password" type="password" autocomplete="new-password" required/></label> <br/>
        <input type="submit"/>
    </form>
    <a href="/login">Login instead?</a>

    <p id="reg-success" class="hide">
        &#x2705 Registered! 
    </p>
    <p id="reg-fail" class="hide">
        &#x274C User already exists, impostor.
    </p>
    <p id="password-match-fail" class="hide">
        &#x274C Password does not match!
    </p>

    <script>
        const form = document.getElementById("user-info-form");
        const err_log = document.getElementById("error-log");
        async function register(event) {
            event.preventDefault();
            const user_info = new FormData(form);
            const confirm_password = document.getElementById('confirm-password');
            if (user_info.get('password') != confirm_password.value) {
                show('password-match-fail');
                return;
            }
            const res = await fetch('/register', {
                method: 'POST',
                body: user_info
            });
            if (res.status == 200)
                var to_show = 'reg-success', to_hide_1 = 'reg-fail', to_hide_2 = 'password-match-fail';
            else if (res.status == 409)
                var to_show = 'reg-fail', to_hide_1 = 'reg-success', to_hide_2 = 'password-match-fail';
            else
                return;
            show(to_show);
            hide(to_hide_1);
            hide(to_hide_2);
        }
        form.addEventListener('submit', register);
    </script>
{% endblock %}