{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
    {% if not session.get('email') %}
    You need to be <a href="/login">signed in</a> to upload, dummy.
    {% else %}
    <div id="good-font">
    <form id="upload-song-form">
        <label>Song Name: <input type="text" name="name" required="true" id="songNAME"/></label> <br/>
        <label>This work is a derivative of another work. 
            <input id="form-derivative-of" type="checkbox" onchange="toggleHide('form-derivative-yes')"/>
        </label>

        <blockquote id="form-derivative-yes" class="hide">
            <label>If your song/music is a derivative of another work, paste the link to that work here:
                <input type="url" title="leave this field empty if not" name="derivativeOf"/>
            </label> <br/>
            &nbsp; <em class="red">Make sure the license of the original is okay with derivatives!!!!!</em>
        </blockquote>

        <br/>
        <label>I want to host this work at <br/>
            &nbsp;  <input type="radio" name="hostIsSoundache" value="true" required="true" onchange="hostWorkAtSoundache()">
                        Soundache
                    </input> <br/>
                    <blockquote id="host-at-soundache" class="hide">
                        <label>
                            Upload the audio file (MPEG, WAV, OGG): 
                                <input type="file" id="songFile" accept="audio/*" name="song-file"/>
                        </label> 
                        <br/>
                        <label>
                            Thumbnail (PNG, JPEG, JFIF, GIF): 
                                <input type="file" id="thumbnailFile" accept="image/*" name="thumbnail-file"/>
                        </label>
                    </blockquote>

            &nbsp;  <input type="radio" name="hostIsSoundache" value="false" required="true" onchange="hostWorkSomewhereElse()">
                        3rd party server
                    </input> <br/>
                    <blockquote id="host-somewhere-else" class="hide">
                        <label>
                            Link to your work: <input type="url" name="urlToWork" id="urlToWork"/>
                        </label><br/>
                        &nbsp; <em class="red">
                            Make the server supports FTP and returns the video file and thumbnail!!
                        </em>
                    </blockquote>
        </label>  <br/>

        <br/>
        <input type="submit"/>
    </form>
    <p id="on-submit" class="hide">
        &#x2705 Submitted!! It may take a while for your submission to become publicly accessible. <br/>
        You can see the videos of your channel <a href="/user">here</a>!
    </p>
    <p id="on-submit-fail" class="hide">
        &#x274C Song of same name and from the same user already exists!
    </p>
</div>
    <script>
        function hostWorkAtSoundache() {
            show('host-at-soundache');
            hide('host-somewhere-else');
            document.getElementById('songFile').setAttribute('required', 'true');
            document.getElementById('thumbnailFile').setAttribute('required', 'true');
            document.getElementById('urlToWork').removeAttribute('required');
        }

        function hostWorkSomewhereElse() {
            show('host-somewhere-else');
            hide('host-at-soundache');
            document.getElementById('songFile').removeAttribute('required');
            document.getElementById('thumbnailFile').removeAttribute('required');
            document.getElementById('urlToWork').setAttribute('required', 'true');
        }

        const form = document.getElementById("upload-song-form");
        function songServerUpload(event) {
            event.preventDefault();  // don't reload
            let formData = new FormData(form);
            let copyFormData = new FormData(form);
            formData.delete('song-file');
            formData.delete('thumbnail-file');

            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then((res) => {
                let success = (res.status == 200);
                if (success) {
                    show('on-submit');
                    hide('on-submit-fail');
                } else {
                    show('on-submit-fail');
                    hide('on-submit');
                }
                
                if ((formData.get('hostIsSoundache') == 'true') && success) {
                    copyFormData.append('email', USERNAME);
                    copyFormData.delete('derivativeOf');
                    copyFormData.delete('hostIsSoundache');
                    copyFormData.delete('urlToWork');
                    fetch('/songserver/upload', {
                            method: 'POST',
                            body: copyFormData
                        });
                }
            });
        }
        form.addEventListener('submit', songServerUpload);
    </script>
    {% endif %}
{% endblock %}