{% extends "base.html" %}
{% block title %}Channel {{artistName}}{% endblock %}
{% block content %}
    {% if no_such_user %}
        No such user exists!
    {% elif has_no_songs and not artistName %}
        Nothing to show :( <br/> <br/>
        Wanna upload some cool songs?  Sign in (if you haven't already) and do it <a href="/upload">here</a>.
    {% elif has_no_songs %}
        <b class="red"><i>{{ artistName }}</i></b> has no songs, unfortunately.
    {% else %}
        <h1>{{ artistName }}</h1>
        <div class="song-grid">
            {% for song in songs %}
                <a class="songThumbnailGrid" href="/playback?watch={{song.artistId}}.{{song.id}}">
                    <img src="{{fmt(song.link)}}/thumbnail" class="thumbnail" alt=""/>
                    <span class="songTitle">
                        {{ song.name }}
                    </span>
                    <span class="artistName">
                        {{ artistName }}
                    </span>
                    <span class="views">
                        {{ song.views }} &#x1F441;
                    </span>
                    <span class="likes">
                        {{ song.likes }} &#128151;
                    </span>
                    <span class="dislikes">
                        {{ song.dislikes }} &#128078;
                    </span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}